html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0em 4.5em;
  font-family: "europa",sans-serif;
  font-weight: normal;
  color: #9b9aa5;
}

.logo {
  max-width: 100px;
  width: 100%;
  padding: 0;
}

a {
  text-decoration: none;
  color: #9b9aa5;
  font-family: "europa",sans-serif;
  font-weight: normal;
}

a:hover {
  color: #022828;
}

.content-text {
  margin: 2em 0;
}

.portfolio-content img {
  width: 100%;
  margin: auto;
}

.home-banner {
  padding-top: 3em;
  padding-bottom: 3em;
}

.current {
  padding-bottom: 1em;
  border-bottom: 2px solid #9b9aa5;
}

.current:hover {
  color: #9b9aa5;
}

p > a {
  color: #515b4d;
  text-decoration: underline;
}

p > a:hover {
  color: #e1e0df;
  text-decoration: underline;
}

.card {
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}

.card1 {
  background-image: url("../images/casa-layout1.png");
}

.card2 {
  background-image: url("../images/hintonburg-project.jpg");
}

.card-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: #fff;
  transition: all .25ms;
  margin: 1em;
  padding: 40px 20px;
  text-align: center;
}

.card:hover .card-content {
  opacity: 1;
}


@media only screen and (min-width: 38em) {
  body {
    padding: 0em 4.5em;
  }

  .card {
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    width: 337px;
    height: 337px;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 60em) {
  body {
    padding: 0em 4.5em;
  }

  .logo {
    max-width: 150px;
  }

  .card {
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    width: 283px;
    height: 283px;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .portfolio-content img {
    width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 90em) {

}
